/* Esercizio uno */

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 0.5s ease;
}

.ex-1-square:hover {
    background-color: red;
}

/* Fine esercizio uno*/

/* Esercizio due */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.5s ease;
}

.ex-2-square:active {
    transform: scale(2);
    width: 200px;
}

/* Fine esercizio due */

/* Esercizio tre */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;

    transition: 0.5s ease;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Fine esercizio tre */

/* Esercizio quattro */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;

    transition: 0.5s ease;
    opacity: 1;
}

.ex-4-square:hover {
    opacity: 0;
}

/* Fine esercizio quattro */

/* Esercizio cinque */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;

    transition: 0.5s ease;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* Fine esercizio cinque */

/* Esercizio Sei */

.ex-6-img:hover {
    filter: grayscale(1)
}

/* Fine esercizio Sei */

/* Esercizio sette */

.ex-7-img {
    transition: 0.5s ease;
}

.ex-7-img:hover {
    filter: contrast(1.5) brightness(1.5);
}

/* Fine esercizio sette */

/* Esercizio otto */

.ex-8-img {
    transition: 0.5s ease;
}

.ex-8-img:hover {
    filter: grayscale(0.5) brightness(1.5);
    border-radius: 25%;
}

/* Fine esercizio otto */

/* Esercizio nove */

.ex-9-img {
    transition: 0.5s ease;
}

.ex-9-img:hover {
    filter: grayscale(0.5) brightness(1.5);
    border-radius: 25%;
    transform: scale(1.5);
}


/* Fine esercizio nove */

/* Esercizio dieci */

.ex-10-icon {
    animation-name: gira;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes gira {
    0% {}

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Fine esercizio dieci */

/* Esercizio undici */

.ex-11-icon:hover {
    animation-name: giragira;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes giragira {
    0% {
        transform: rotate(0deg);
    }

    16% {
        transform: rotate(90deg);
    }

    32% {
        transform: rotate(180deg);
    }

    48% {
        transform: rotate(270deg);
    }

    64% {
        transform: rotate(180deg);
    }

    84% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }


}

/* Fine esercizio undici */

.ex-6-img,
.ex-7-img,
.ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-10-icon {
    font-size: 60px;
}

.ex-11-icon {
    font-size: 60px;
}

.ex-12-button,
.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white,
.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white,
.ex-13-bottom-white {
    position: absolute;
    bottom: -20px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Esercizio dodici */

.ex-12-top-white {
    animation-name: quadratinigirano;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.ex-12-bottom-white {
    animation-name: quadratinigirano2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes quadratinigirano {
    0% {
        top: -10px;
        left: 10%;
    }

    25% {
        top: -10px;
        left: calc(100% - 80px)
    }
}

@keyframes quadratinigirano2 {
    0% {
        bottom: -10px;
        right: 20%;
    }

    25% {
        bottom: -10px;
        right: calc(100% - 90px)
    }
}

/* Fine esercizio dodici */

/* Esercizio tredici */

.ex-13-top-white {
    animation-name: quadratogira;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.ex-13-bottom-white {
    animation-name: quadratogira2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes quadratogira {
    0% {
        top: -10px;
        left: 10%;
    }

    20% {
        top: -10px;
        left: 85%;
    }

    40% {
        top: 60px;
        left: 85%;
    }

    60% {
        top: 60px;
        left: -10%
    }

    80% {
        top: -10px;
        left: -10%;
    }
}

@keyframes quadratogira2 {
    0% {
        bottom: -20px;
        right: 20%;
    }

    20% {
        bottom: -20px;
        right: calc(100% - 40px);
    }

    40% {
        bottom: 60px;
        right: calc(100% - 40px);
    }

    60% {
        bottom: 60px;
        right: -5%;
    }

    80% {
        bottom: -20px;
        right: -5%;
    }
}

/* Fine esercizio tredici */